.body-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.body-container input{
    padding: 10px;
    border: none;
    background-color: black;
    border-radius: 10px;
    width: 20%;
    color: #beff6c;
    font-size: 25px;
    margin: 100px auto;
}

@media (max-width:768px) {
    .body-container{
        width: 90%;
        margin: auto;
    }
    .body-container input{
        width: 80%;
        background-color: #fff;
        color: #000;
    }
    
}