.body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  justify-content: center;
} 
.register-container{
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
    margin: auto;
}
.register-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}
form label{
    color: #beff6c;
}
form input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #242424;
    color: #fff;
    outline: none;
}
form input:focus{
    border: 2px solid #beff6c;
    background-color: #1a1919;
}
form a{
    color: #646cff;
    text-decoration: none;
}
form a:hover{
    color: #535bf2;
}
form button{
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(180deg,lightseagreen,seagreen);
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
}
form button:hover{
    background: linear-gradient(180deg,rgb(22, 126, 121),rgb(27, 90, 54));
    transition: 0.5s;
}
form button:active{
    transform: scale(0.7);
}

@media (max-width:768px) {
    .register-container{
        width: 90%;
    }
}